.about { 
    padding-top: 45px; 
    padding-bottom: 55px;
    @include tablet { 
        padding-top: 75px;
        padding-bottom: 130px;
    }
    &__content { 
        @include flex; 
        flex-direction: column-reverse;
        justify-content: space-between;
        @include tablet { 
            flex-direction: row;
            margin-top: 42px;
        }
        @include desktop { 
            margin-top: 70px;
        }
        
    }
    &__text-content { 
        max-width: 100%;
        @include tablet { 
            max-width: 47%;
        }
        @include desktop { 
            max-width: 40%;
        }
    }
    &__img { 
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &__text { 
        @include font ($fw: 500, $fs: 14, $lh: 21);
        @include desktop { 
            @include font ($fw: 500, $fs: 18, $lh: 32);
        }
    }
    &__text--first { 
        margin-bottom: 10px;
    }
}

