.advantage {
    padding-top: 45px; 
    padding-bottom: 55px;
    @include tablet { 
        padding-top: 75px;
        padding-bottom: 130px;
    }
    &__content { 
        @include flex; 
        flex-direction: column-reverse;
        justify-content: space-between;
        @include tablet { 
            flex-direction: row;
            margin-top: 42px;
        }
        @include desktop { 
            margin-top: 70px;
        }
    }

    
}

.section-title {
}
.advantage__list {
}
.list {
}
.advantage__item {
}
.advantage__title {
}
.advantage__text {
}
.img-wr {
}
.advantage__img {
}
.img {
}