.advantage {
    padding-top: 45px; 
    padding-bottom: 55px;
    @include tablet { 
        padding-top: 75px;
        padding-bottom: 130px;
    }

    &__content { 
        @include flex; 
        flex-direction: column-reverse;
        justify-content: space-between;
        @include tablet { 
            flex-direction: row;
            margin-top: 42px;
        }
        @include desktop { 
            margin-top: 70px;
        }
    }
    &__section-title { 
        @include desktop { 
            // text-align: right;
        }
    }
    
}

.advantage__list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.advantage__item {
    position: relative;
}
.advantage__item::before { 
        content: "";
        width: 0px;
        height: 26px;
        border: 2px solid var(--light-accent-color); 
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
}
.advantage__title {
    @include font ($fw: 700, $fs: 17, $lh: 21);
    color: var(--dark-text-color);

}
.advantage__text {
    @include font ($fw: 500, $fs: 14, $lh: 20);
    color: var(--dark-text-color);
}

.advantage__img {
    margin-bottom: 40px;
}
.img {
}