.header {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 1px 7px rgba(20, 22, 24, 0.5);

    &__container { 
    display: flex;
    } 
}
.header

.logo {
    // display: flex;
    // gap:40px; 
}
.header__logo {
    display: flex;
    align-items: center;
    gap: 40px;
    @include font ($fw: 500, $fs: 10, $lh: 15, $ls: 0.02);
    text-transform: capitalize;
    color: var(--white-text-color);
}
.logo__span {
    @include font ($fw: 700, $fs: 17, $lh: 26, $ls: 0.02);
    color: var(--light-accent-color); 
}
.header__nav {
    display: none;
}
.header__nav-list {
}
.list {
}
.header__nav-item {
}
.header__nav-link {
}
.link {
}
.theme-switch {
    display: none;
}
.theme-switch__color {
}
.theme-switch__btn {
}