<section class="gallery section" id="gallery">
  <div class="container">
    <div class="title about__title">
      <div class="title__line"></div>
      <div class="title__wr">
        <h2 class="title__text">
          Gallery
          <span class="title__span">House</span>
          <span class="title__after-span">Residential complex</span>
        </h2>
      </div>
      <div class="title__line"></div>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper__item--first">
          <img src="./images/gallery-1.jpg" alt="house" />
        </div>
        <div class="swiper-slide swiper__item--second">
          <img src="./images/gallery-2.jpg" alt="house" />
        </div>
        <div class="swiper-slide swiper__item----last">
          <img src="./images/gallery-3.jpg" alt="house" />
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
